name: Build

on:
  push:
    branches: [ "main" ]
jobs:
  build:
    name: Build
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: make
      - name: Upload
        uses: actions/upload-artifact@v6.0.0
        with:
          name: thermal
          path: thermal
